<ul class="nav nav-pills">
  <li class="nav-item">
    <a class= "nav-link" href="#" (click) = "setTab(1)" [class.active] = "tab === 1">Description</a>
  </li> 

  <li class="nav-item">
    <a class= "nav-link" href="#" (click) = "setTab(2)" [class.active] = "tab === 2">Colors</a>
  </li>

  <li class="nav nav-item">
    <a class= "nav-link" href="#" (click) = "setTab(3)" [class.active] = "tab === 3">Reviews</a>
  </li>
</ul> 

<!--replace tab = 1 with setTab(3)-->

<div *ngIf="tab === 1">
  Tab 1
</div> 

<div *ngIf="tab === 2">
  Tab 2
</div>

<div *ngIf="tab === 3">
  Tab 3
</div>


