

<!-- <div>
  {{gem.id}}
  {{gem.name}}
  {{gem.price | currency}}
  {{gem.description}} -->
  <!-- <img src="{{gem.fullImagePath}}" alt="{{gem.name}}">
  <img [src] = "gem.fullImagePath" [alt]="gem.name"> -->
<!-- </div> -->

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{gem.fullImagePath}}" alt="{{gem.name}}">
    <div class="card-body">
      <h5 class="card-title">{{gem.name}}</h5>
      <p class="card-text">{{gem.price || currency}}</p>

      <app-tabs [gem]="gem"></app-tabs>
      
      <select class="form-control">
      <option *ngFor="let color of gem.colors">{{color}}</option>
      </select>
    </div> 
    
    <button *ngIf="gem.inventory > 0" class="btn btn-default" (click) = "addToCart()"> Add To Cart</button>

    <button *ngIf="gem.inventory <= 0" class="btn btn-danger" disabled>Sold Out</button>
   
</div> 

