

<h1>{{title}}</h1>

<body>   

  <!-- <p>&copy; {{year}}</p> 
  <p>4 + 2 = {{sum}}</p>
  <p>{{numbers}}</p>
  <p>{{dog}}</p>
  <p>Is {{dog.name}} hungry? {{dog.isHungry}}</p>
  <p>Is {{dog.name | uppercase}} hungry?</p>
  <h1>HELLO, WORLD... HOW ARE YOU???</h1>
  <h3>DOG OBJECT... {{obj}}</h3> -->

  <app-navbar></app-navbar>
  <!-- <app-home [cart] = "cart"></app-home> replaced with <router-outlet>    -->
  <router-outlet></router-outlet> <!--Anything that comes in will default to home component.-->
</body>


